/*
  Set flex properties to host element to enabled correct behavior of child flex items.
  IMPORTANT: This is workaround until bug https://github.com/angular/flex-layout/issues/272 is resolved
*/

:host {
  margin: 0px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.yb-m-field-conainer {
  padding-top: 16px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 2px !important;
}

