<form fxLayout="column" fxFlexFill [formGroup]="languageSelectionForm" class="yb-component-container" novalidate>
  <div fxLayout="column" fxFlex="60px" fxLayoutAlign="center start" class="yb-m-field-container">
    <md-select [placeholder]="languageField_CAPTION" formControlName="selectedLanguage" class="yb-width-whole">
      <md-option *ngFor="let language of languageList" [value]="language">
        {{language?.native}}
      </md-option>
    </md-select>
  </div>
</form>
