<div fxLayout="column" fxFlexFill>
  <div fxLayout="column" fxFlex="60px" fxLayoutAlign="center start" class="yb-m-field-container">
    <md-input-container >
      <input type="password" mdInput [placeholder]="password_CAPTION" (change)="onPasswordChange($event)"/>
      <!-- <md-error *ngIf="">{{ passwordMinLengthError }}</md-error>     -->
    </md-input-container>
  </div>
  <div fxLayout="column" fxFlex="60px" fxLayoutAlign="center start" class="yb-m-field-container">
    <md-input-container>
      <input type="password" mdInput [placeholder]="confirmPassword_CAPTION" />
      <!-- <md-error *ngIf="registerUserForm?.get('account')?.get('password')?.errors?.minLength">{{ passwordMinLengthError }}</md-error>  -->
    </md-input-container>
  </div>
</div>
