/* Import fonts */
/* @import './assets/fonts/material-icons.css'; */
/* @import './material-icons.css'; */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  // src: local('Roboto'), url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  src: local('Roboto'), url('./Roboto-Regular.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  // src: local('Roboto-Bold'), url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
  src: local('Roboto'), url('./Roboto-Bold.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('./MaterialIcons-Regular.woff') format('woff');
  src: local('Roboto'), url('./MaterialIcons-Regular.woff2') format('woff2');
  // src: local('Material Icons'), url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
  // src: local('Material Icons'), url('./assets/fonts/MaterialIcons-Regular.woff') format('woff');
}
