<div fxLayout="column" fxFlexFill>
  <!--FORM TITLE CONTAINER-->
  <div fxLayout="column" fxFlex="48px">
    <!--TITLE-->
    <div fxLayout="row" fxFlex="32px">
      <h3>{{formTitle_CAPTION}}</h3>
    </div>
    <!--SUBTITLE-->
    <div fxLayout="row" fxFlex="16px">
      <h5 class="yb-m-form-subtitle-theme">{{formSubtitle_CAPTION}}</h5>
    </div>
  </div>
  <!--FORM CONTENT CONTAINER-->
  <div fxLayout="column" fxFlex="calc(100%-112px)">
    <yb-reset-password>

    </yb-reset-password>
  </div>
  <!--FORM ACTION CONTAINER-->
  <div fxLayout="row" fxFlex="64px">

  </div>
</div>
