/*
* Import common classes. These are all non-theme related global classes.
*/
@import './assets/styles/reset.common.css';
@import './assets/styles/common.scss';

/*
* Import fonts
*/
/* @import './assets/fonts/fonts.scss';*/

/*
* Import material theming as this is neccessary to correctly resolve material theming on top level.
*/
@import '~@angular/material/theming';

/*
* Include the base styles for Angular Material core. We include this here so that you only
* have to load a single css file for Angular Material in your app.
*/
@include mat-core();

/*
* Define the palettes for your theme using the Material Design palettes available in palette.scss
* (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
*/
$default-primary-palette: mat-palette($mat-grey);
$default-accent-palette:  mat-palette($mat-amber, A100, A200, A400);
$default-warning-palette: mat-palette($mat-red);

/*
* Create the theme object (a Sass map containing all of the palettes).
* This theme however, is used primarly on public side of application.
* It has no effect on theme, that is selected in private (secure) zone
*/
$yb-default-theme: mat-light-theme($default-primary-palette,$default-accent-palette,$default-warning-palette);

/*
* Set initial theme (defaults to grey theme)
*/
@include angular-material-theme($yb-default-theme);

/*
* Include theme styles for core and each component used in your app.
* Alternatively, you can import and @include the theme mixins for each module/component that you are using.
*/
@import './assets/themes/grey.theme.scss';

/*
* Import application module themes. Specific component themes shoud be defined in module.theme.scss file.
*/
@import './app/authentication/authentication.module.theme.scss';

/*@include angular-material-theme($yebba-grey-theme);*/
/*
* Include module themes in global scope to ensure theme consistency accross application.
*/
.yb-default-theme {
  @include angular-material-theme($yb-default-theme);
  @include authentication-module-theme($yb-default-theme);
}

.yb-grey-theme {
  @include angular-material-theme($yb-grey-theme);
  @include authentication-module-theme($yb-grey-theme);
}

.yb-blue-theme {
  // Void for now
}

.black-theme {
  // Void for now
}



