html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  font-family: "Roboto", 'Helvetica Neue', "Helvetica", "Arial", "sans-serif" !important;
}


/* ### SECTION :: CONTAINERS ### */

.yb-scrollable-container {
  min-height: min-content;
  overflow: auto;
}

.yb-non-scrollable-container {
  min-height: min-content;
  overflow: hidden;
}

.yb-module-container {
  padding: 16px 16px 16px 16px !important;
  min-height: min-content;
  overflow: auto;
}

.yb-component-container {
  padding: 4px 4px 4px 4px !important;
  min-height: min-content;
  overflow: auto
}

.yb-field-container {
  padding: 2px 2px 2px 2px !important;
  min-height: min-content;
}

.yb-inline-block-container {
  display: inline-block;
}


/* ### SECTION :: IMAGE PROPERTIES ### */


/* Image always mantains original aspect ratio. */

.yb-coverImage {
  object-fit: cover;
}


/* Logo scales down if space is inadequate. */

.yb-logo {
  object-fit: scale-down;
}


/* ### SECTION :: TEXT PROPERTIES ### */


/*
* All non theming related text properties
*/
h3 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto", 'Helvetica Neue', "Helvetica", "Arial", "sans-serif" !important;
}

h5 {
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto", 'Helvetica Neue', "Helvetica", "Arial", "sans-serif" !important;
}

.yb-text-3x {
  font-size: 3em;
}

.yb-text-2x {
  font-size: 2em;
}

.yb-text-1x {
  font-size: 1em;
}

.yb-text-05x {
  font-size: 0.5em;
}

/* ### SECTION :: DIMENSION PROPERTIES ### */
.yb-width-whole {
  width: 100%;
}

/* ### SECTION :: SMALL SCREEN ### */

@media screen and (max-width: 600px) {
  .yb-module-container {
    padding: 4px 4px 4px 4px !important;
    min-height: min-content;
    overflow: auto;
  }
  .yb-component-container {
    padding: 1px 1px 1px 1px !important;
    min-height: min-content;
    overflow: auto
  }
}
