@import '~@angular/material/theming';

/*
* Declare module mixin. It takes theme as input argument.
*/
@mixin authentication-module-theme($theme) {
  /*
  * Determine basic palletes for all main areas
  */
  $primaryPallete: map-get($theme, primary);
  $accentPallete: map-get($theme, accent);
  $warningPallete: map-get($theme, warning);

  /*
  * Set colors that are needed.
  */
  $m-primary-color: map-get($primaryPallete, 500);
  $m-primary-color-contrast: map-get($primaryPallete, default-contrast);
  $m-primary-color-100: map-get($primaryPallete, 100);
  $m-primary-color-400: map-get($primaryPallete, 400);
  $m-primary-color-800: map-get($primaryPallete, 800);
  $m-accent-color-100: map-get($accentPallete, 100);
  $m-accent-color-400: map-get($accentPallete, 400);

  .yb-m-authentication-background {
    background: rgba(243,243,243,0.87);
    background: -moz-radial-gradient(center, ellipse cover, rgba(243,243,243,0.87) 0%, rgba(248,248,248,0.91) 30%, rgba(241,241,241,0.94) 52%, rgba(248,248,248,0.96) 71%, rgba(243,243,243,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(243,243,243,0.87)), color-stop(30%, rgba(248,248,248,0.91)), color-stop(52%, rgba(241,241,241,0.94)), color-stop(71%, rgba(248,248,248,0.96)), color-stop(100%, rgba(243,243,243,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(243,243,243,0.87) 0%, rgba(248,248,248,0.91) 30%, rgba(241,241,241,0.94) 52%, rgba(248,248,248,0.96) 71%, rgba(243,243,243,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(243,243,243,0.87) 0%, rgba(248,248,248,0.91) 30%, rgba(241,241,241,0.94) 52%, rgba(248,248,248,0.96) 71%, rgba(243,243,243,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(243,243,243,0.87) 0%, rgba(248,248,248,0.91) 30%, rgba(241,241,241,0.94) 52%, rgba(248,248,248,0.96) 71%, rgba(243,243,243,1) 100%);
    background: radial-gradient(ellipse at center, rgba(243,243,243,0.87) 0%, rgba(248,248,248,0.91) 30%, rgba(241,241,241,0.94) 52%, rgba(248,248,248,0.96) 71%, rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3', GradientType=1 );
  }

  .yb-m-form-container-theme {
    /* Login form is ALWAYS on white background. */
    background-color: #fff;
    border: 1px solid $m-primary-color-400;
  }

  .yb-m-form-subtitle-theme {
    color: $m-primary-color-400;
  }
}
