<div fxLayout="column" fxFlexFill class="yb-scrollable-container yb-m-authentication-background">
  <!--Top container. Void for now, could be used for some content in the future. It should be hidden on small devices.-->
  <div fxLayout="row" fxFlex="10%" fxHide.xs="true">
  </div>
  <!--Authentication module content container. Used for displaying different components according to requirements.-->
  <div fxLayout="row" fxFlex="80%" fxFlex.xs="100%">
    <!--Right filler. Hidden on small devices.-->
    <div fxFlex="25%" fxHide.xs>

    </div>
    <!--Main form container.-->
    <div fxLayout="column" fxFlex="50%" fxFlex.xs="100%" class="yb-m-form-container-theme yb-m-form-container">
      <!--Logo container.-->
      <div fxlayout="row" fxFlex="120px" fxFlex.xs="60px" fxFlexAlign="center">
        <img fxFlex="100%" class="yb-logo" [src]="autheticationLogo">
      </div>
      <!--Form container.-->
      <div fxLayout="column" fxFlex="calc(100%-192px)" fxFlex.xs="calc(100%-132px)">
        <router-outlet></router-outlet>
      </div>
      <!--Footer container.-->
      <div fxLayout="row" fxFlex="72px">
        <!--Change language.-->
        <div fxLayout="column" fxFlex="50%">
          <yb-language-selection-form>
          </yb-language-selection-form>
        </div>
        <div fxLayout="row" fxFlex="50%">

        </div>
      </div>
    </div>
    <!--Right filler. Hidden on small devices.-->
    <div fxFlex="25%" fxHide.xs>
    </div>
  </div>
  <!--Footer container. Void for now, could be used for some content in the future.-->
  <div fxLayout="row" fxFlex="10%">
    <!--Right filler. Hidden on small devices.-->
    <div fxFlex="25%" fxHide.xs>

    </div>
    <!--Help, terms of use, misc other links.-->
    <div fxLayout="column" fxFlex="50%" class="yb-field-container yb-text-05x">
      <div fxFlex="25%" fxFlexAlign="end end">
        <span class="yb-inline-block-container">{{copyright_CAPTION}}</span>
        <span class="yb-inline-block-container">{{disclaimer_CAPTION}}</span>
        <span class="yb-inline-block-container">{{rightsDisclaimer_CAPTION}}</span>
      </div>
    </div>
    <!--Right filler. Hidden on small devices.-->
    <div fxFlex="25%" fxHide.xs>
    </div>
  </div>
</div>
