

@import '~@angular/material/theming';

/*
* Define the palettes for your theme using the Material Design palettes available in palette.scss
* (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
*/
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-amber, A100, A200, A400);
$app-warning: mat-palette($mat-red);

/*
* Create the theme object (a Sass map containing all of the palettes).
*/
$yb-grey-theme: mat-light-theme(
  $app-primary,
  $app-accent,
  $app-warning
);
